body {
    background-color: rgb(247, 247, 247);

    font-family: sans-serif;
}

#page {
    margin: 25px;
}

#input-field {
    max-width: 300px;

    padding: 1px 20px 60px 20px;
    margin: 10px;

    text-align: center;
    background-color: rgb(233, 233, 233);
    border-radius: 10px;

    color: rgb(26, 26, 26);

    box-shadow: 0px 20px 50px -15px rgb(221, 221, 221);
}

#the-input {
    border-radius: 5px;
    border-color: rgb(43, 21, 139);
    border-style: outset;

    width: 200px;
    height: 20px;
}

.button {
    padding: 5px;
    margin: 15px;

    border-radius: 5px;
    border: none;

    background-color: rgb(214, 214, 214);
    color: rgb(15, 15, 15);
    font-weight: bold;
}

#create-preset {
    float: right;
}

#button {
    float: left;
}

.button:hover {
    /*border: outset rgb(43, 21, 139) 2px;
    border-radius: 15px;*/
    
    background-color:#F6F6F6 ;
}

.the-displays {
    margin: 20px auto 20px 30px;
    font-family: sans-serif;
    color: rgb(26, 26, 26);

    padding: 10px;

    text-transform: capitalize;
}

.the-displays button {
    text-transform: capitalize;
}



@media only screen and (min-width: 500px) {

}
